
@font-face {
  font-family: 'MobileSans';
  src: url('MobileSans.eot?#iefix') format('embedded-opentype'),  url('MobileSans.woff') format('woff'), url('MobileSans.ttf')  format('truetype'), url('MobileSans.svg#MobileSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
